.cabecalho {
	position: relative;
	width: 100%;
	display: block;
	text-align: center;
	height: 200px;
}

.identidade {
	background-color: #362040;
	color: #fff;
}

nav {
	position: relative;
	display: block;
	top: 95px;
	box-shadow: 0px 0px rgba(0, 0, 0, 0);
	background-color: #523061;
	text-align: center;
}

nav ul {
	display: inline-block;
}

nav ul li {
	display: block;
	padding: 0px 15px 0px 15px;
	margin-left: -2px;
}

.read-more {
	display: none;
}

.black-text {
	color: #000 !important;
}

.card-title {
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.9)) !important;
	transition: all 0.5s;
}

.card:hover .card-title {
	padding: 8% 20px !important;
}

.grid-novidade {
	margin: 0px 0px 11px !important;
}

.page {
	font-size: 18px !important;
	line-height: 18px !important;
}

.card:hover .page {
	padding: 12% 20px !important;
}

.cat-nome {
	padding-top: 32px;
}

.maisPosts {
	margin-left: -58px;
	margin-top: 6%;
	float: right;
	position: relative;
	left: 37px;
}

nav {
	top: 0px !important;
}

nav ul a {
	font-size: 18px !important;
}

footer.page-footer {
	padding-top: 0;
}

footer.page-footer .footer-copyright {
	height: 100px !important;
	padding: 8% 0 !important;
	line-height: 20px !important;
}

.pesquisa, .widget_search {
	padding: 0 !important;
	margin: 0 !important;
}

.pesquisa {
	width: 150px;
}

.widget_search {
	width: 80% !important;
	position: relative;
	top: 7px;
	left: 4px;
}

.search-field {
	border-bottom: none !important;
	position: relative;
	color: #fff;
}

.search-field:focus {
	color: #000;
}

::-webkit-input-placeholder {
	color: #fff !important;
	font-size: 18px !important;
	text-align: center;
}

:-moz-placeholder {
	color: #fff !important;
	font-size: 18px !important;
	text-align: center;
}

::-moz-placeholder {
	color: #fff !important;
	font-size: 18px !important;
	text-align: center;
}

:-ms-input-placeholder {
	color: #fff !important;
	font-size: 18px !important;
	text-align: center;
}

.menu-icon {
	position: relative;
	top: 5px;
	margin-right: 4px;
}

.pesquisar-icon {
	float: left;
	margin: 14px 0px -39px -4px !important;
	position: relative;
	left: 8px;
}

.container-post {
	width: 90% !important;
}

.img-post  .post-thumbnail {
	height: 500px;
	width: 100%;
}

.img-post .post-thumbnail img {
	width: 100%
}

.entry-content {
	background-color: #fff !important;
	padding-top: 52% !important;
}

.entry-content img {
	width: 100%;
}

.leia-mais {
	bottom: -31px !important;
}

h3.leia-mais {
	    margin-top: 48px !important;
}

.entry-title {
	text-align: center;
}

.ancora {
	display: block;
	position: absolute;
	height: 115px;
	width: 100px;
	margin-top: -115px;
	z-index: 1000;
	visibility: hidden;
}

.entry-footer {
	margin-top: -96px;
}